/*custom css*/

body {
  font-family: 'Teko'!important;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  word-wrap: break-word;
  background: url('../assets/img/bgredhp.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.content-page a {
  color: #e69a23;
}
.content-page a:hover {
  color: #fff;
}
.content-page>ol {
  font-family: 'Arial';
  
}
.content-page ol {
    font-size:24px;
    
}

::selection {
    background-color: #e69a23;
    color: #323336;
  }

.font-menu {
  font-family: 'Teko'!important; 
  font-size: 20px;
  color: #c5181c;
}

.font-menu:hover {
  font-family: 'Teko'!important; 
  color: #e69a23;
}

.logo-img {
  width: 200px!important;
  height: auto!important;
}
.logo-img2 {
  width: 500px!important;
  height: auto!important;
}
.logo-img3 {
  width: 400px!important;
  height: auto!important;
}
@media screen and (max-width: 1024px) {
  .logo-img2 {
    width: 250px!important;
  }
  .logo-img3 {
    width: 250px!important;
  }
}
@media screen and (max-width: 720px) {
  .logo-img2 {
    width: 200px!important;
  }
  .logo-img3 {
    width: 200px!important;
  }
}

.affix.header-black .header-wrapper {
  background: rgb(20,20,20,1)!important;
}

/*section1*/

#rev_slider_7_1 .uranus.tparrows {
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0)
}

#rev_slider_7_1 .uranus.tparrows:before {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 40px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s
}

#rev_slider_7_1 .uranus.tparrows:hover:before {
  opacity: 0.75
}

.hesperiden.tp-bullets {}

.hesperiden.tp-bullets:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 10px;
  margin-left: -10px;
  margin-top: -10px;
  box-sizing: content-box;
  border-radius: 8px
}

.hesperiden .tp-bullet {
  width: 12px;
  height: 12px;
  position: absolute;
  background: rgb(225,225,225);
  background: -moz-linear-gradient(top, rgb(225,225,225) 0%, rgb(225, 225, 225) 100%);
  background: -webkit-linear-gradient(top, rgb(225,225,225) 0%, rgb(225, 225, 225) 100%);
  background: -o-linear-gradient(top, rgb(225,225,225) 0%, rgb(225, 225, 225) 100%);
  background: -ms-linear-gradient(top, rgb(225,225,225) 0%, rgb(225, 225, 225) 100%);
  background: linear-gradient(to bottom, rgb(225,225,225) 0%, rgb(225, 225, 225) 100%);
  filter: progid:dximagetransform.microsoft.gradient( startcolorstr="rgb(230, 154, 35)", endcolorstr="rgb(225,225,225)", gradienttype=0);
  border: 1px solid rgb(225,225,225);
  border-radius: 50%;
  cursor: pointer;
  box-sizing: content-box
}

.hesperiden .tp-bullet:hover,
.hesperiden .tp-bullet.selected {
  background: rgb(230, 154, 35)
}

.hesperiden .tp-bullet-image {}

.hesperiden .tp-bullet-title {}

.title-menu {
  font-family: 'Teko'!important;
  font-size: 30px;
  line-height: 35px;
  color: #fff;
  width: 20%;
  margin: 0 auto;
  padding-top: 10px;
}

.menu-line {
  border: 1px solid #fff;
  width: 20%;
  margin: 0 auto;
}

@media only screen and (max-width: 480px) {
.fs-primary-nav>ul {
    margin-top: 50px;
}
}

.scroll-down {
  color: #e69a23!important;
}
.scroll-down:hover {
  color: #fff!important;
}
.header {
  margin-bottom: -120px;
}
.btn-get {
  font-family: 'Teko';
  font-size: 30px;
  background-color: transparent;
  color: #e69a23;
  border: 2px solid #e69a23;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-get:hover {
  font-family: 'Teko';
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff!important;
}

.socmed-menu {
  color: #c5181c;
  font-size: 30px;
}
.socmed-menu:hover {
  color: #e69a23;
}

.btn-play:hover {
  color: #fff!important;
}

.title-login {
  display: block!important;
  width: 10%;
  margin: 0 auto;
  font-family: 'amador'!important; 
  font-size: 20px;
  color: #fff;
  border: 1px solid #fff;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px!important;
  padding-right: 20px!important;
  border-radius: 10px;
  margin-bottom: 20px;
}
.title-signup {
  display: block!important;
  width: 10%;
  margin: 0 auto;
  font-family: 'Teko'!important; 
  font-size: 20px;
  color: #fff;
  border: 1px solid #fff;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px!important;
  padding-right: 20px!important;
  border-radius: 10px;
  margin-bottom: 20px;
}

.title-login:hover {
  color: #e69a23;
  border: 1px solid #e69a23;
}
.title-signup:hover {
  color: #e69a23;
  border: 1px solid #e69a23;
}
.member-name {
  font-size: 20px;
  font-family: 'Teko';
  color: #fff;
  letter-spacing: 2px;
  padding-top: 10px;
  padding-bottom: 10PX;
}

.title-profile {
  display: block!important;
  width: 15%;
  margin: 0 auto;
  font-family: 'Teko'!important; 
  font-size: 24px;
  color: #fff;
  border: 1px solid #fff;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px!important;
  padding-right: 20px!important;
  border-radius: 10px;
  margin-bottom: 20px;
}
.title-logout {
  display: block!important;
  width: 15%;
  margin: 0 auto;
  font-family: 'Teko'!important; 
  font-size: 24px;
  color: #fff;
  border: 1px solid #fff;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px!important;
  padding-right: 20px!important;
  border-radius: 10px;
  margin-bottom: 20px;

}
.title-profile:hover {
  color: #e69a23;
  border: 1px solid #e69a23;
}
.title-logout:hover {
  color: #e69a23;
  border: 1px solid #e69a23;
}

.fs-primary-nav a {
  padding: 0px;
}
.list-menu {
  padding-top: 2px;
  padding-bottom: 2px;
}

.list-menu .active {
  color: #e69a23;
}
.block-center-xy {
  margin-top: 20px;
}
/*section2*/

.section2 {
  background: url('../assets/img/bg-road.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.sub-heading {
  margin: 0 auto;
  font-size: 40px;
  line-height: 40px;
  color: #fff;
  letter-spacing: 2px;
}
.heading {
  margin: 0 auto;
  font-size: 60px;
  color: #fff;
  padding-top: 10px;
  line-height: 65px;
  letter-spacing: 5px;
  font-style: italic;
}
.heading-txt {
  margin: 0 auto;
  font-size: 25px;
  color: #fff;
  line-height: 25px;
  letter-spacing: 3px;
  padding-top: 10px;
}

.roadtohp {
  margin-top: 40px;
}



@media (min-width: 992px) {
.col-md-2 {
    width: 20%;
}
.col-md-1 {
  width: 16.6%;
}
}

#f1_container {
  position: relative;
  margin: 10px auto;
  
}
#f1_container {
  perspective: 1000;
}
#f1_card {
  transform-style: preserve-3d;
  transition: all 0.3s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
}

.btn-road {
  color: #000;
  background-color: #e69a23;
  font-size: 20px;
  font-weight: bold;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: 400;
  letter-spacing: 3px;
}
.btn-road:hover {
  color: #fff;
}
.road-btn1 {
  margin-top: 20px;
}

.roadtohp-mobile {
  display: none;
}
.other-exp {
  margin-top: 40px;
  margin-bottom: 20px;
}

@media screen and (max-width: 996px) {

.roadtohp {
  display: none;
}

.roadtohp-mobile {
  display: block;
  margin-top: 40px;
}
.front-mobile {
  text-align: center!important;
  padding-bottom: 20px;
}


}

.txt-block1 {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, 500%);
    font-size: 100px;
    color: #eee;
    letter-spacing: 2px;
}

.txt-block2 {
    position: absolute;
    top: 0%;
    left: 65%;
    transform: translate(-50%, 232%);
    font-size: 30px;
    color: #eee;
    letter-spacing: 2px;
}

.txt-block3 {
    position: absolute;
    top: 0%;
    left: 35%;
    transform: translate(-50%, 100%);
    font-size: 20px;
    color: #eee;
    letter-spacing: 2px;
}

.txt-block4 {
    position: absolute;
    top: 0%;
    left: 30%;
    transform: translate(-50%, 460%);
    font-size: 20px;
    color: #e69a23;
    letter-spacing: 2px;
}

.txt-block5 {
    position: absolute;
    top: 0%;
    left: 62%;
    transform: translate(-50%, 650%);
    font-size: 20px;
    color: #e69a23;
    letter-spacing: 2px;
}

.block-divider {
  border: 2px solid #e69a23;
  width: 20%;
  position: absolute;
  top: 100%;
  left: 55%;
  transform: skewY(-45deg) translate(-100%, 2500%);
}

/*section3*/

#section3 {
  background: url('../assets/img/bg-mix.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  padding-top: 50px;
  padding-bottom: 50px;
}

.ticket-home {
  margin-top: 50px;
  text-align: center;
}
.img-ticket1 {
  margin: 0 auto;
  margin-bottom: 50px;
}
.img-ticket2 {
  margin: 0 auto;
  margin-bottom: 50px;
}


@media screen and (max-width: 996px) {

.img-ticket1 {
  float: none;
}
.img-ticket2 {
  float: none;
}

}

.btn-ticket1 {
  padding: 10px 50px 10px 50px;
  font-size: 25px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  margin: 0 auto;
}
.btn-ticket1:hover {
  color: #e69a23;
  border: 2px solid #e69a23;
}
.btn-ticket2:hover {
  color: #e69a23;
  border: 2px solid #e69a23;
}
.btn-ticket2 {
  padding: 10px 50px 10px 50px;
  font-size: 25px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  margin: 0 auto;
}

.scroll-img:hover {
  margin-top: 20px;
  transition: 0.2s ease ; 
}

.mix-match {
  margin-top: 100px;
}

.mix-match-heading {
  margin-bottom: 50px;
}

.img-mix {
  float: right;
}
.img-mix2 {
  width: 350px;
  margin-bottom: 20px;
}
.img-mix3 {
  width: 400px;
  margin-bottom: 40px;
}
@media screen and (max-width: 996px) {
  .img-mix {
    float: none;
    margin: 0 auto;
  }
  .mix-text {
    width: 100%!important;
  }
  .block-mix-txt {
    width: 80%;
    margin-left: 50px;
  }
  .mix-match {
    margin-top: 50px;
  }

  }

  @media screen and (max-width: 480px) {
    .block-mix-txt {
      margin-left: 30px;
    }
  }

.mix-heading {
  color: #fff;
  font-size: 40px;
  line-height: 40px;
  text-align: left;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.mix-text {
  font-size: 20px;
  color: #fff;
  text-align: left;
  width: 70%;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.mix-btn {
  font-size: 25px;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 50px 10px 50px;
  margin-top: 10px;
}

.mix-btn:hover {
  color: #e69a23;
  border: 2px solid #e69a23;

}

#line-up {
  margin-top: 160px!important;
  margin-bottom: 30px;
}

.line-up-heading {
  margin-top: 50px;
}

/*section4*/

#section4 {
  padding-top: 100px;
  background: url('../assets/img/bg-red3.jpg') no-repeat;
  background-size: cover;
  margin-bottom: -10px;
}

.hashtag-block {
  font-size: 40px;
  color: #fff;
  font-weight: 600px;
  display: inline-block;
}

.heading-ig {
  font-size: 40px;
  color: #fff;
  font-weight: 600px;
  display: inline-block;
  line-height: 45px;
  text-align: left;
  padding-left: 10px;
  letter-spacing: 3px;
}

.ig-title {
  margin-top: 30px;
  color: #ddd;
  font-size: 30px;
  letter-spacing: 3px;
}

.ig-widget {
  margin-top: 50px;
}

/*section footer*/

#footer {
  background: url('../assets/img/bg-red3.jpg');
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 30px;
}

.footer1 {
  font-size: 20px;
  color: #ddd;
  letter-spacing: 3px;
  padding: 5px;
}
.footer2 {
  font-size: 14px;
  color: #ddd;
  letter-spacing: 2px;
  line-height: 20px;
  padding: 5px;
}

.footer2 a {
  color: #ddd;
}
.footer2 a:hover {
  color: #e69a23;
}


 @media screen and (max-width: 996px) {

  .footer1 {
    text-align: center;
  }

  .img-menu-btn {
    margin-top: 30px;
    margin-left: -20px;   
  }

  .ticket2 {
    margin-top: 50px;
  }

  }
  .socmed-footer {
    font-size: 25px!important;
    color: #fff;
  }
  .socmed-footer:hover {
    color: #e69a23;
  }

  /*section partners*/

  .section-partners {
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .section-partners2 {
    margin-top: 20px;
  }
  .img-partners {
    display: inline-block;
    padding: 20px;
    filter: grayscale(100%);
  }
  .img-partners3 {
    display: inline-block;
    padding: 20px;
  
  }
    .img-partners2 {
    filter: grayscale(100%);
  }

  .img-partners:hover {
    filter: grayscale(0%);
  }
    .img-partners2:hover {
    filter: grayscale(0%);
  }

  /*mobile view*/

  @media screen and (max-width: 996px) {
    #line-up {
      margin-top: 0px!important;
    }

    #section2 {
      padding-bottom: 0px!important;
    }

    .title-login {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .title-signup {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .title-profile {
      margin-top: 20px;
      margin-bottom: 20px;
      display: block!important;
       width: 30%!important;
      margin: 0 auto;
      margin-bottom: 20px!important;
      font-size: 20px;
      width: 40%!important;
    }
    .title-logout {
      margin-top: 20px;
      margin-bottom: 20px;
      display: block!important;
      width: 30%!important;
      margin: 0 auto;
      margin-bottom: 20px!important;
      font-size: 20px;
      width: 40%!important;
    }

    .menu-line {
      width: 50%;
    }

    .user-icon {
      margin-top: 10px;
    }
    .font-menu {
      padding-top: 10px!important;
      padding-bottom: 10px!important;
      padding-top: 5px!important;
      padding-bottom: 5px!important;
    }

    .title-login {
      width: 40%;
      padding-top: 5px!important;
      padding-bottom: 5px!important;
    }
    .title-signup {
      width: 40%;
      padding-top: 5px!important;
      padding-bottom: 5px!important;
    }

  }

  @media screen and (max-width: 996px) {
    .hashtag-block {
      font-size: 25px;
    }
    .heading-ig {
      font-size: 22px;
      line-height: 22px;
    }
  }

  .btn-full-lineup {
  padding: 10px 50px 10px 50px;
  font-size: 25px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  margin: 0 auto;
}
.btn-full-lineup:hover {
  color: #e69a23;
  border: 2px solid #e69a23;
}

  .after-login {
    display: none;
  }

  /*page roadtohp*/

  #section-road {
    background: url('../assets/img/bgredhp.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .city-first {
    text-align: right;
    font-family: 'Teko';
  }

  .title-city {
    font-size: 60px;
    line-height: 60px;
    font-weight: 500;
    letter-spacing: 5px;
    color: #fff;
    border-top: 5px solid #fff;
    padding-top: 50px;
  }

  .title-date1 {
    display: inline-block;
    font-size: 80px;
    color: #fff;
    letter-spacing: 3px;
    padding-right: 10px;
  }
  .title-date2 {
    display: inline-block;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
  }

  .title-place {
    font-size: 30px;
    color: #fff;
    letter-spacing: 2px;
    line-height: 30px;
  }
    .title-time {
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;
    line-height: 25px;
  }

  .art-name {
    font-size: 50px;
    letter-spacing: 3px;
    color: #ccc;
    text-align: center;
    position: absolute;
    top: 85%;
    transform: translate( 70%, 50%);
  }
    .art-name1 {
    font-size: 50px;
    letter-spacing: 3px;
    color: #ccc;
    text-align: center;
    position: absolute;
    top: 85%;
    transform: translate( 70%, 50%);
  }

  .second-col {
    margin-top: 40px;
    border: 2px solid #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 30px;
  }
  .title-second1 {
    color: #fff;
    font-size: 20px;
    text-align: right;
    line-height: 24px;
    letter-spacing: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
    .title-second2 {
    color: #fff;
    font-size: 28px;
    text-align: right;
    line-height: 30px;
    letter-spacing: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .img-art1 {
    overflow: hidden;
    padding: 0px;
  }

  .img-art2 {
    margin-top: 40px;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 0px;
  }
  .img-art3 {
    margin-top: 40px;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 0px;
  }

  .art-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .art-img:hover {
    transform: scale(1.1);
    -webkit-transition: .2s ease-in;
    transition: .2s ease-in;
  }
    .third-col {
    border: 2px solid #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 50px;
  }

  .streetart-txt {
    color: #fff;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 2px;
    text-align: right;
    padding-bottom: 10px;
  }

  .next-city {
    padding: 50px;
    float: right;

  }
    .prev-city {
    padding: 50px;
    float: left;

  }
  @media screen and (max-width: 996px) {
    .next-city {
      float: none;
      padding: 20px;
    }
    .prev-city {
      float: none;
      padding: 20px;
    }
    .city-first {
      padding: 20px;
    }
  }

  .next1 {
    color: #e69a23;
    font-size: 40px;
    line-height: 45px;
    letter-spacing: 3px;
    text-align: center;
  }
    .prev1 {
    color: #e69a23;
    font-size: 40px;
    line-height: 45px;
    letter-spacing: 3px;
    text-align: center;
  }
  .line-next {
    border-bottom: 2px solid #e69a23;
    margin: 0 auto;
  }
    .line-prev {
    border-bottom: 2px solid #e69a23;
    margin: 0 auto;
  }
  .next-2 {
    margin-top: 10px;
    color: #e69a23;
    font-size: 25px;
    text-align: center;
  }
    .next-3 {
    color: #e69a23;
    font-size: 16px;
    text-align: center;
  }

  .next1:hover {
    color: #fff;
  }
   .prev1:hover {
    color: #fff;
  }
@media screen and (min-width: 996px) {
  .nav-roadtohp {
    margin-top: -100px;
  }
}

.art-img-txt {
  position: absolute;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  width: 100%;
  bottom: 40px;
}
.art-img-txt2 {
  position: absolute;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #fff;
  text-align: right;
  width: 100%;
  bottom: 30px;
  padding-right: 20px;
}

  /*page ticket*/

  #section-ticket {
    background: url('../assets/img/bgredhp.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-top: 150px;
  }

  .img-ticket {
    width: 65%;
    margin: 0 auto;
    padding-top: 12px;
  }

  .ticket-part1 {
    border: 1PX solid #fff;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
  }
    .ticket-part2 {
    border: 1PX solid #fff;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
  }
  .part1-1 {
    font-size: 40px;
    letter-spacing: 3px;
    line-height: 40px;
    font-weight: bold;
    color: #fff;
  }
    .part1-2 {
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 20px;
    color: #fff;
  }
    .part1-3 {
    font-size: 50px;
    letter-spacing: 5px;
    line-height: 50px;
    font-weight: bold;
    color: #fff;
  }
     .part1-4 {
    font-size: 40px;
    letter-spacing: 5px;
    line-height: 60px;
    color: #fff;
  }

  .part1-2 a {
    color: #e69a23;
  }
    .part1-2 a:hover {
    color: #fff;
  }

  @media screen and (max-width: 996px) {
    .ticket-part1 {
      margin-left: 0px;
      margin-right: 0px;
    }
    .ticket-part2 {
      margin-left: 0px;
      margin-right: 0px;
    }
    .img-ticket {
      width: 100%;
    }
  }

  .btn-buy-ticket {
    margin-top: 40px;
  }

  .input-agree {
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
  }
  .input-agree a {
    color: #e69a23;
  }
   .input-agree a:hover {
    color: #fff;
  }
.detail-ticket1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-day {
  font-size: 25px;
  color: #fff;
  text-align: center;
  background-color: transparent;
  border:1px solid #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
}
.btn-day:hover {
  color: #e69a23;
}
.btn-ticket-col p {
  padding-left: 30px;
  padding-right: 30px;
  display: inline-block;
  font-size: 30px;
  color: #e69a23;
  background-color: #fff;
  padding-top: 12px;
  padding-bottom: 8px;
}

.day-title {
  font-size: 40px;
  color: #fff;
  letter-spacing: 3px;
  text-align: left;
}

.detail1 {
  padding-top: 50px;
}
.day-line {
  border-bottom: 1px solid #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 10%;
}

.day-time {
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.dome-stage {
  font-size: 20px;
  color: #e69a23;
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 80%;
  text-align: center;
}

.dome-artist {
  color: #fff;
  font-size: 30px;
  letter-spacing: 3px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.dome-artist2 {
  color: #fff;
  font-size: 30px;
  letter-spacing: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.margin-art {
  margin-left: 0px;
  margin-bottom: 20px;
  border-left: 1px solid #fff;
}
.margin-art2 {
  padding-left: 20px;
}
.img-art-ticket {
  width: 300px;
}
.img-ticket-art {
  object-fit: cover;;
}

.art-ticket-txt {
  padding-top: 20px;
  padding-bottom: 10px;
  color: #fff;
  font-size: 16px;
}

/*page lineup*/

#section-lineup {
  padding-top: 150px;
  background: url('../assets/img/bgredhp.jpg') no-repeat;
  background-size: cover;
   background-attachment: fixed;
}
.heading-lineup {
  margin-bottom: 50px;
}
.nav-tab-lineup {
  border: 1px solid #fff;
  margin: 0 auto;
}
.nav-tab-lineup .active>.nav-item {
  background-color: #222!important;
  letter-spacing: 3px;
  color: #fff!important;
}
.nav-tab-lineup li .nav-item{
  color: #fff;
  font-size: 20px;
  letter-spacing: 3px;
  border-right: 1px solid #fff;
}
.nav-tab-lineup .active>.nav-item:hover {
  background-color: #e69a23;
  color: #fff;
}
.nav-tab-lineup li .nav-item:hover{
  background-color: #e69a23;
  color: #fff;
  }

  .tab-pane {
    background-color: transparent;
    margin-top: 20px;
    padding-bottom: 50px;
  }
  .art-img-txt-all {
  position: absolute;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #fff;
  text-align: left;
  width: 100%;
  bottom: 20px;
  padding-left: 20px;
  text-shadow: 2px 2px #e69a23;
}
  .art-img-txt-all2 {
  position: absolute;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #fff;
  text-align: left;
  width: 100%;
  bottom: 20px;
  padding-left: 20px;
}
  .img-art4 {
    overflow: hidden;
    padding: 0px;
    margin-bottom: 20px;
  }
  .img-art4:hover {
    background-color: #e69a23;
  }
  .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #e69a23;
}
  .overlay:hover {
  opacity: 0.2;
}

.nav-item2 {
  background-color: transparent!important;
  border: none!important;
  padding: 0px!important;
}
.nav-tabs-day {
  border: none;
}
  .overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #610c0e;
}
  .overlay2:hover {
  opacity: 0.5;
}

.nav-tabs-day .active .nav-item2 .overlay2{
  opacity: 0.6;
}

@media screen and (max-width: 996px) {
  .nav-tab-lineup {
    border: none;
  }
  .nav-tab-lineup li .nav-item {
    border: none;
  }
  .img-art-ticket {
    width: auto;
  }
  .gal-txt {
    font-size: 14px!important;
    line-height: 14px!important;
    width: 70%;
  }
    .gal-txt2 {
    font-size: 14px!important;
    line-height: 14px!important;
    width: 100%!important;
  }
}

  .embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }

  .img-vid {
    width: 100%;
  }
  .icon-vid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .icon-vid i {
    font-size: 80px;
    font-weight: 100px;
    color: #e69a23;
  }
    .icon-vid i:hover {
    font-size: 80px;
    color: #fff;
  }

.container-vid {
  padding: 0px;
  margin-bottom: 10px;
}


  .embed-container {
    display: none;
  }

  /*video*/
.videoWrapper {
  position: relative;
  width: 100%;
  height: 0;
  background-color: #000;
}
.videoWrapper43 {
  padding-top: 75%;
}
.videoWrapper169 {
  padding-top: 50%;
}
.videoIframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.videoPoster {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  outline: none;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-size: cover;
  text-indent: -999em;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: opacity 800ms, height 0s;
  -moz-transition: opacity 800ms, height 0s;
  transition: opacity 800ms, height 0s;
  -webkit-transition-delay: 0s, 0s;
  -moz-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
}
.videoPoster:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  border: 5px solid #fff;
  border-radius: 100%;
  -webkit-transition: border-color 300ms;
  -moz-transition: border-color 300ms;
  transition: border-color 300ms;
}
.videoPoster:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  margin: -25px 0 0 -10px;
  border-left: 40px solid #fff;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  -webkit-transition: border-color 300ms;
  -moz-transition: border-color 300ms;
  transition: border-color 300ms;
}
.videoPoster:hover:before, .videoPoster:focus:before {
  border-color: #e69a23;
}
.videoPoster:hover:after, .videoPoster:focus:after {
  border-left-color: #e69a23;
}
.videoWrapperActive .videoPoster {
  opacity: 0;
  height: 0;
  -webkit-transition-delay: 0s, 800ms;
  -moz-transition-delay: 0s, 800ms;
  transition-delay: 0s, 800ms;
}

.btn-stop {
  float: right;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 10px;
}
.btn-stop:hover {
  color: #e69a23;
  border: 1px solid #e69a23;
} 



/*end video*/

  .detail-name {
    font-size: 40px;
    color: #fff;
    letter-spacing: 4px;
    line-height: 45px;
    padding-top: 20px;
  }
  .detail-link a {
    color: #e69a23;
    font-size: 20px;
    letter-spacing: 3px;
  }
  .detail-link a:hover {
    color: #fff;
  }
  .detail-txt {
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .detail-socmed {
    padding-bottom: 50px;
  }

  .socmed-menu2 {
    color: #fff;
    font-size: 30px!important;
  }
  .socmed-menu2:hover {
    color: #e69a23;
  }

  .detail-art {
    border: 1px solid #fff;
  }
  .detail-marg {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .detail-disc {
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid #fff;
  }

  .detail-disc-txt {
    font-size: 50px;
    line-height: 55px;
    text-align: center;
    color: #e69a23;
    letter-spacing: 3px;
  }

  /*payment page*/

  #section-payment {
    background: url('../assets/img/bgredhp.jpg') no-repeat;
    background-size: cover;
    padding-bottom: 150px;
    padding-top: 150px;
  }

  .table-payment {
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 35px;
    margin-top: 50px;
  }

  .table-payment tbody tr {
    border-bottom: 1px solid #fff;
  }
  @media screen and (max-width: 996px) {
    .table-payment {
    font-size: 14px;
  }
  .table-responsive {
    border: none;  
  }

  }
 @media screen and (min-width: 996px) {
  .table-responsive {
    overflow-x: inherit;
}

}
/*page my transaction*/

.trans-detail {
  padding-top: 80px;
}

.trans-1 {
  color: #fff;
  font-size: 30px;
  letter-spacing: 3px;
  line-height: 35px;
  padding-bottom: 20px;
}
.trans-2 {
  color: #fff;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 25px;
  padding-bottom: 20px;
}
.trans-3 {
  color: #fff;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 25px;
  padding-bottom: 20px;
}
.trans-2-1 {
  color: #e69a23;
}
.trans-3-1 {
  color: #e69a23;
}

  .table-payment2 {
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 35px;
    margin-top: 0px;
  }

.fs-primary-nav-trigger:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
     transform: rotate(45deg);
}

/*page gallery*/

#section-gallery {
  padding-top: 150px;
  background: url('../assets/img/bgredhp.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 100px;
}

.gallery1-1 {
  border: 1px solid #fff;
  padding: 10px;
}
.gallery1-2 {
  border: 1px solid #fff;
  padding: 10px;
  background-color: #ccc;
}
.gallery1-3 {
  margin-bottom: 20px;
  margin-top: 20px;
}
.gallery-city {
  font-size: 40px;
  line-height: 40px;
  color: #fff;
}
.gallery-date {
  font-size: 40px;
  line-height: 40px;
  color: #e69a23;
}

.gal-txt {
  position: absolute;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 3px;
  font-weight: bold;
  color: #fff;
  background-color: #222;
  text-align: center;
  width: 60%;
  bottom: 0px;
  border: 1px solid #fff;
}
.gal-txt2 {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 3px;
  font-weight: bold;
  color: #fff;
  background-color: #222;
  text-align: center;
  width: 74%;
  bottom: 0px;
  border: 1px solid #fff;
  margin: 0 auto;
}
.gal-txt:hover {
  color: #e69a23;
}
.gal-txt2:hover {
  color: #e69a23;
}
.gal-1 {
  border: 1px solid #fff;
  padding: 0px;
}

.gal-2 {
  padding: 20px;
  border: 1px solid #fff;
}
.gal-img {
  border: 1px solid #fff;
  filter:grayscale(1);
}
.gallery-all-city {
  padding-bottom: 50px;
}

/*custom lighbox*/
.sl-overlay {
  background-color: #000!important;
}
.sl-wrapper .sl-close {
  color: #fff!important;
  font-size: 50px!important;
}
.sl-wrapper .sl-navigation button {
  color: #fff!important;
  font-size: 50px!important;
}

.photo-thumb {
  padding-bottom: 20px;
}

.pag-gallery {
  list-style: none;
  margin-left: -38px;
}
.pag-gallery li {
  display: inline-block;
  padding: 20px;
}
.prev-icon {
  font-size: 40px!important;
  color: #fff;
}
.prev-icon:hover {
  font-size: 40px!important;
  color: #e69a23;
}
.next-icon {
  font-size: 40px!important;
  color: #fff;
}
.next-icon:hover {
  font-size: 40px!important;
  color: #e69a23;
}

.vid-title {
  text-align: center;
  font-family: 'Teko';
  font-size: 30px;
  letter-spacing: 3px;
  color: #e69a23;
}
.modal-vid {
  background-color: #111;
}
.modal-vid .modal-body {
  height: 300px;
}

.modal-vid-header {
  border: none;
}

.close {
  color: #fff!important;
  opacity: 1;
}

.play-vid i {
  color: #e69a23;
  font-size: 40px;
}
.play-vid {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*page news*/

#section-news {
  padding-top: 150px;
  background: url('../assets/img/bgredhp.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 50px;
}
.news-title1 {
  font-size: 40px;
  letter-spacing: 5px;
  color: #fff;
  margin-bottom: 20px;
}

.news-fold1 {

}
.hot-img {
  padding: 20px;
  border: 1px solid #fff;
}
.hot-img2 {
  padding: 0px;
}
.hot-img3 {
  padding-bottom: 35px;
  padding-top: 35px;
  padding-right: 30px;
  padding-left: 30px;
  border: 1px solid #fff;
}
.hot-article {
  border: 1px solid #fff;
  padding-left:20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-top: 20px;
}
.hot-article2 {
  border: 1px solid #fff;
  margin-left: 0px;
  margin-bottom: 36px;
}
.hot-article3 {
  border: 1px solid #fff;
  margin-left: 0px;
  margin-bottom: 0px;
}
.hot-date {
  font-size: 20px;
  color: #fff;
  letter-spacing: 3px;
}
.hot-date2 {
  font-size: 16px;
  color: #fff;
  letter-spacing: 3px;
  padding-bottom: 20px;
}
.hot-date3 {
  font-size: 16px;
  color: #fff;
  letter-spacing: 3px;
}
.hot-title {
  font-size: 40px;
  color: #fff;
  letter-spacing: 3px;
  line-height: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.hot-title2 {
  font-size: 24px;
  color: #fff;
  letter-spacing: 3px;
  line-height: 24px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.hot-txt {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.hot-txt2 {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.hot-btn {
  padding: 5px 10px 5px 10px;
  font-size: 16px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}

.hot-btn:hover {
  color: #e69a23;
  border: 2px solid #e69a23;
}
.head-news1 {
  margin-top: 0px;
}
.news-fold2 {
  padding-right: 30px
}

.card-sidebar {
  background-color: transparent;
  border:1px solid #fff;
  margin-bottom: 20px;
}
.card-header {
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  padding-top: 20PX;
  padding-bottom: 20px;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.popular-list a {
  color: #fff;
  font-size: 20px;
  line-height: 25px;
}
.popular-list  {
  color: #fff;
  font-size: 30px;
  line-height: 25px;
  padding: 15px;
}

.popular-list a:hover {
  color: #e69a23;
}

.article-txt {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-family: 'Arial';
}
.author-txt {
  font-size: 18px;
  color: #e69a23;
  line-height: 18px;
  letter-spacing: 2px;
  padding-bottom: 20px;
}

.tag-article {
  list-style: none;
  margin-left: -40px;
}
.tag-article li {
  display: inline-block;
  font-family: 'Arial';
  font-size: 14px;
  letter-spacing: 2px;
  padding: 5px;
  margin-right: 5px;
  color: #fff;
  background-color: #222;
  border-radius: 5px;
  margin-bottom: 5px;
}
.tag-article li a {
  color: #e69a23;
}
.tag-article li a:hover {
  color: #fff;
}
.tag-title {
  font-size: 26px;
  color: #fff;
  line-height: 26px;
  letter-spacing: 3px;
  padding-bottom: 10px;
}
.share-title {
  font-size: 26px;
  color: #fff;
  line-height: 26px;
  letter-spacing: 3px;
  padding-bottom: 10px;
}
.share-article {
  list-style: none;
  margin-left: -40px;
}

.share-article li {
  display: inline-block;
  font-size: 30px;
  padding-right: 20px;
  padding-top: 10px;
}
.share-article li a {
  color: #e69a23;
}
.share-article li a:hover {
  color: #fff;
}

.marg-3 {
  margin-top: 20px!important;
}

@media screen and (max-width: 996px) {
  .hot-article2 {
    margin-top: 20px;
    margin-right: 0px;
  }
  .news-side {
    padding-bottom: 0px;
  }
  .news-fold2 {
    padding: 0px;
  }
/*  .ig-widget {
    display: none;
  }*/

}

/*page contact*/
.contact-fold {
  margin-top: 50px;
}
.contact-1 {
  font-size: 40px;
  letter-spacing: 3px;
  line-height: 40px;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}
.contact-2 {
  font-size: 24px;
  letter-spacing: 3px;
  line-height: 24px;
  color: #fff;
  padding-bottom: 20px;
}
.contact-3 {
  font-size: 26px;
  letter-spacing: 3px;
  line-height: 26px;
  color: #fff;
  padding-bottom: 20px;
}
.contact-3 a {
  color: #e69a23;
}
.contact-detail {
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 20px;
  color: #fff;
}
.input2 {
  border:1px solid #fff;
}
.input3 {
  border:1px solid #fff;
  height: 200px!important;
}
.form-control:focus {
  color: #fff!important;
  border: 1px solid #e69a23;
  padding-left: 10px;
  padding-right: 10px;
}
.btn-submit {
  float: right;
}
.heading-contact {
  font-size: 30px;
  color: #fff;
  line-height: 30px;
  letter-spacing: 3px;
  padding-bottom: 20px;
}

/*page content privacy dll*/
.content-page {
  margin-bottom: 50px;
  
}
.content-page p,h1,h2,h3,h4 {
  font-size: 16px;
  font-family: 'Arial';
  line-height: 30px;
  letter-spacing: 1px;
  color: #fff;

}
  #section-privacy {
    background: url('../assets/img/bgredhp.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-top: 200px;
  }
  .chg-language a {
    color: #e69a23;
    font-size: 20px;
    letter-spacing: 2px;
  }
  .chg-language a:hover {
    color: #fff;
  }
  .title2 {
    display: none;
  }
  .page2 {
    display: none;
  }
  #language1 {
    display: none;
  }

  
.menu--show {
  z-index: 9000
}

.menu--hidden {
  opacity: 0;
  z-index: -1
}

.logo-home {
  opacity: 0;
}
/*section other experiences*/

.pill-exp {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  font-size: 18px;
  letter-spacing: 1px;
/*  display: -webkit-inline-box;
  overflow-x: scroll;*/
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #fff;
  opacity: 0.4;
  border-radius: 0px;
  color: #000;
}
.nav-pills>li a:hover {
  background-color: #fff;
  opacity: 0.4;
  color: #000;
  border-radius: 0px;
}
.nav-pills>li a {
  padding-right: 20px;
  color: #fff;
}
.exp-txt {
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 18px;
}

@media screen and (max-width: 996px) {

.section-partners {
  display: none;
}

.contact-1 {
  font-size: 20px;
}
.contact-3 {
  font-size: 20px;
}
.contact-2 {
  font-size: 18px;
  line-height: 18px;
}
.fold-1 {
  margin-bottom: 20px;
}
.ig-widget-mobile {
  display: block;
}

.photo-thumb {
  width: 50%;
  float: left;
}
}
@media screen and (min-width: 996px) {
  .partners-mobile{
    display: none;
  }
}

.partners-mobile {
  margin-top: 20px;
}
.nav-justified>li>a {
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
}
/*font-mobile*/
@media screen and (max-width: 480px) {
  .heading {
    font-size: 40px;
    line-height: 45px;
  }
  .sub-heading {
    font-size: 26.832939484739px;
    line-height: 35px;
  }
  .heading-txt {
    font-size: 20px;
    line-height: 20px;
  }
  .news-first {

  }
  .hot-article2 {
    display: inline-flex;
    margin-bottom: 0px;
  }
  .hot-title2 {
    font-size: 14px!important;
    line-height: 14px;
    padding-top: 10px;
    letter-spacing: 1px!important;
  }
  .hot-btn {
    float: right;
  }
  .hot-img {
    padding: 0px;
  }
  .hot-article {
    padding-bottom: 50px;
  }
    .hot-date {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1px;
  }
  .hot-date2 {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1px;
  }
  .hot-date3 {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1px;
  }
  .hot-img3 {
    padding: 0px;
  }
  .hot-txt2 {
    display: none;
  }
  .card-sidebar {
    margin-top: 20px;
  }
  .news-title1 {
    margin-top: 20px;
  }
  .hot-title {
    font-size: 30px;
    line-height: 30px;
  }
  .news-fold1 {
    padding: 0px;
  }
  .hot-article2 .hot-btn {
    display: none;
  }
  .fold-news2 {
    padding: 0px;
  }
  .breadcrumb {
  text-align: left;
}

.breadcrumb a {
  padding-left: 0px;
}
.pill-exp {
  display: -webkit-inline-box;
  overflow-x: scroll;
}


}
.hot-title a{
  color: #e69a23;
}
.hot-title2 a{
  color: #e69a23;
}
.hot-title3 a{
  color: #e69a23;
}
.hot-title a:hover{
  color: #fff;
}
.hot-title2 a:hover{
  color: #fff;
}
.hot-title3 a:hover{
  color: #fff;
}
.breadcrumb a {
  color: #e69a23;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 16px;
  text-decoration: none;
}
.breadcrumb {
  color: #fff;
}
.breadcrumb .active {
  color: #fff;
}
.divide {
  padding-left: 10px;
  padding-right: 10px;
}

/*html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  
    background: transparent;  
}

::-webkit-scrollbar-thumb {
    background: #555;
}*/
.other-ul {
  list-style: none;
  margin-top: 30px;
  font-size:30px;
  line-height:35px;
  margin-left:-30px;
}
.other-ul li {
  padding-left: 10px;
  padding-right: 10px;
}
#modal-ticket .modal-content {
  background-color: #222;
  color: #fff;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 2px;
}

#modal-ticket .modal-content h1 {
  color: #e69a23;
  font-size: 35px;
  line-height: 35px;
}
@media screen and (max-width: 480px) {
  #modal-ticket {
    top: 20%;
  }

  #modal-ticket .modal-content h1 {
  font-size: 30px!important;
}
#modal-ticket .modal-content {
  background-color: #222;
  color: #fff;
}
.gallery1-3 {
  width: 50%;
  float: left;
}

.next-city {
  width: 50%;
  float: right;
}
.prev-city {
  width: 50%;
  float: left;
}
.next1 {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
}
.prev1 {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
}
.prev1 i{
  font-size: 18px!important;
}
.next1 i{
  font-size: 18px!important;
}
.next-2 {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 2px;
}
.card-sidebar {
  display: none;
}
.table-payment2 {
  font-size: 16px!important;
  line-height: 20px!important;
}
}

.btn-modal1 {
  float: left;
  margin-top: 20px
}
.btn-modal2 {
  float: right;
  margin-top: 20px;
}
.modal-btn {
  margin: 0 auto;
}
.modal-btn2 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;

}
.modal-btn2 a {
  color: #fff;
   border: 1px solid #fff;
  padding: 5px 10px 5px 10px;
}
.modal-btn2 a:hover {
  color: #e69a23;
   border: 1px solid #e69a23;
  padding: 5px 10px 5px 10px;
}
.close {
  float: none;
}
.nav-tab-lineup li a {
  margin-top: 0px;
  border-radius: 0px!important;
}
.nav-tab-gallery li a {
  margin-top: 0px;
  margin-bottom: 0px!important;
  border-radius: 0px!important;
}

.nav-tab-gallery {
  width: 70%!important;
}
.nav-tab-gallery {
  border: 1px solid #fff;
  margin: 0 auto;
}
.nav-tab-gallery .active>.nav-item {
  background-color: #222!important;
  letter-spacing: 3px;
  color: #fff!important;
}
.nav-tab-gallery li .nav-item{
  color: #fff;
  font-size: 20px;
  letter-spacing: 3px;
  border-right: 1px solid #fff;
}
.nav-tab-gallery .active>.nav-item:hover {
  background-color: #e69a23;
  color: #fff;
}
.nav-tab-gallery li .nav-item:hover{
  background-color: #e69a23;
  color: #fff;
  }

  .pagination-smid li {

    font-size: 20px;
    line-height: 20px;
  }
  .pagination-smid li a {
    background-color: transparent;
    color: #fff;
  }
  .pagination-smid li a:hover {
    background-color: #111;
    color: #e69a23;
  }
  .pagination-smid li .active {
    background-color: #111;
    color: #e69a23;
  }
  .news-second {
    margin-top: 20px;
  }

  .heading-ticket {
   margin-bottom: 20px;
  }
/*  .section-partners2 {
    background: url('../assets/img/bg-red3.png') no-repeat;
    background-size: cover;
  }*/

  .ticket-fold {
    margin-top: 20px;
    padding-bottom:20px;
  }
  #video1 {
    width: 100%;
    height: 100%;
  }
  .table-payment {
    padding-bottom: 30px;
  }
.btn-ticket1 {
  cursor: pointer;
}
.btn-ticket2 {
  cursor: pointer;
}
@media screen and (max-width: 996px) {
.art-thumb {
  width: 50%;
  float: left;
  padding: 1px;
}
.art-img-txt-all {
  font-size: 24px;
  line-height: 28px;
  padding-left: 5px;
}
.nav-tabs-day {
  overflow: scroll;
  display: -webkit-box;
  overflow-y: hidden;
}
  .input-agree {
    font-size: 14px;
    line-height: 14px;
  }
  .view-count2 {
  font-size: 12px!important;
  color: #fff;
  line-height: 12px!important;
}
}
.nav-pills>li a:focus {
  background-color: #fff!important;
  opacity: 0.4;
  color: #000!important;
}
.sl-caption {
  font-size: 20px!important;
  letter-spacing: 1px;
  text-align: center;
}
/*.modal{
  top: 20%;
}*/
/*.modal-header {
  padding-top: 0px;
  padding-bottom: 0px;
}*/

#instafeed {
  width: 100%;
  margin: auto;
  display: inline;
  flex-wrap: wrap;
}
#instafeed img {
    width: 250px;
    height: 250px;
    padding: 10px;
    object-fit: cover;
}
#instafeed a{
  height: 300px;
}

.nav-arrow i {
  color: #fff;
  font-size: 20px;
  padding: 5px;
}
.nav-arrow {
  text-align: center;
}
@media screen and (min-width: 996px) {
  .nav-arrow {
    display: none;
  }
}
.table-payment tbody  .table-bottom {
  border-bottom: none;
}
.view-count {
  float: right;
}
.view-count2 {
  font-size: 16px;
  color: #fff;
  line-height: 16px;
}
.other-ul li {
  color: #e69a23;
}
.road1 {
  background: url('../assets/img/bg-road.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 50px;
  width: 100%;
  -webkit-transition: all .2s ease-in;
-moz-transition: all .2s ease-in;
-ms-transition: all .2s ease-in;
-o-transition: all .2s ease-in;
transition: all .2s ease-in;
}
.road2 {
  background: url('../assets/img/bg-road2.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 50px;
  width: 100%;
  -webkit-transition: all .2s ease-in;
-moz-transition: all .2s ease-in;
-ms-transition: all .2s ease-in;
-o-transition: all .2s ease-in;
transition: all .2s ease-in;
}
.road3 {
  background: url('../assets/img/bg-road3.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 50px;
  width: 100%;
  -webkit-transition: all .2s ease-in;
-moz-transition: all .2s ease-in;
-ms-transition: all .2s ease-in;
-o-transition: all .2s ease-in;
transition: all .2s ease-in;
}
.road4 {
  background: url('../assets/img/bg-road4.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 50px;
  width: 100%;
  -webkit-transition: all .2s ease-in;
-moz-transition: all .2s ease-in;
-ms-transition: all .2s ease-in;
-o-transition: all .2s ease-in;
transition: all .2s ease-in;
}
.road5 {
  background: url('../assets/img/bg-road5.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 50px;
  width: 100%;
  -webkit-transition: all .2s ease-in;
-moz-transition: all .2s ease-in;
-ms-transition: all .2s ease-in;
-o-transition: all .2s ease-in;
transition: all .2s ease-in;
}

.tkthome {
  width: 500px;
}

.ticket-img {
  margin-bottom: 50px;
}
.yamaha {
  filter: grayscale(100%);
  filter: brightness(100);
}

.affix-bottom {
    position: absolute;
  }
.affix {
    top: 0;
  }

  .card-sidebar>.card-body {
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .card-sidebar.affix {
    margin-top: 120px;
  }
  .sidebar2 .affix {
    margin-top: 120px;
  }
  .card-sidebar {
    width: 350px;
  }
  .sidebar2 {
    width: 350px;
  }
::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;  
    background-color: #ffffff; 
}
.nav-arrow {
  display: none;
}

.spotify {
  padding-right: 5px;
}

.gallery-thumbs {
  margin-bottom: 80px;
}

.capture-mix {
  display: -webkit-inline-box;
  list-style: none;
  margin-left: -60px;
  margin-bottom: 20px;
}
.capture-mix li img {
  width: 60px;
  margin: 0 auto;
}
.mix-li {
  font-size: 50px;
  padding: 10px;
}
.mix-li p {
  font-size: 15px;
  text-align: center;
  letter-spacing: 1px;
}
.plus {
  margin-top: 30px;
}

@media screen and (max-width: 996px) {
  .capture-mix {
  display: block;
}
.capture-mix li img {
  width: 50px;
  margin: 0 auto;
}
.plus {
  margin-top: 0px;
  text-align: center;
}
.mix-li{
  padding: 5px;
}
}
.error-head {
  font-size: 150px;
  color: #fff;
}
.error-txt {
  color: #fff;
  font-size: 20px;
  padding: 20px;
  letter-spacing: 2px;
}
@media screen and (max-width: 996px) {
  .error-head {
    font-size: 50px;
  }
  .error-txt {
    font-size: 14px;
  }
}

  #section-error {
    background: url('../assets/img/bgredhp.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 200px;
  }
  
  .tab-miniroad {
      height:150px;
  }